.agenda{
  min-height: 100vh;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  box-sizing: border-box;
  background: transparent;
}

.agenda {
  background: rgba(0, 0, 0, 0.1);
}

.agenda-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 600px;
}

.agenda-item {
  background: rgba(0, 0, 0, 0.1); /* Fundo branco bem transparente */
  backdrop-filter: blur(10px); /* O efeito de vidro fosco */
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

.agenda-item:hover {
  transform: translateX(10px);
  background: rgba(255, 136, 0, 0.2); /* Brilho laranja ao passar o mouse */
  border-color: #ff8800;
}

.agenda h2 {
  color: #ff8800; /* Laranja para combinar com o logo */
  font-size: 3rem;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.data {
  color: #ff8800;
  font-weight: bold;
  font-size: 1.2rem;
}

.local {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;
}

.disponivel {
  justify-content: center;
  border: 1px dashed #ff8800; /* Borda tracejada para indicar vaga */
  cursor: pointer;
}