.footer {
  margin-left: 120px;
  background-color: #111;
  color: #f4d35e;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer p {
  margin: 0;
  font-size: 0.85rem;
  opacity: 0.8;
}

/* Estilo para os links no rodapé -------------------------------*/
.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.footer a {
  color: #ff8800;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ffaa33;
  text-decoration: underline;
}

.footer a:not(:last-child)::after {
  content: "|";
  margin-left: 15px;
  color: #444;
  text-decoration: none;
  display: inline-block;
}
